//flex布局复用
@mixin flex($hov:space-between,$col:center){
  display: flex;
  justify-content: $hov;
  align-items: $col;
}
//背景图
@mixin bgImg($url:"",$size:contain){
  display: inline-block;
  background:url($url) no-repeat center;
  background-size: $size;
}
//定位背景图
@mixin posibgImg($pos:absolute,$top:0,$right:0,$url:"",$size:contain){
  position: $pos;
  top:$top;
  right:$right;
  background:url($url) no-repeat center;
  background-size: $size;
}
//绝对定位
@mixin position($pos:absolute,$top:0,$left:0,$w:100%,$h:100%){
  position: $pos;
  top:$top;
  left: $left;
  width: $w;
  height: $h;
}